@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap');

:root {
  --navbar-height: 64px;
  --brand: #111;
  --bg: #ffffff;
  --border: #eaeaea;
  --muted: #6b7280;
  --primary: #2563eb;
  --primary-dark: #1d4ed8;
  --primary-light: #3b82f6;
}

* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

#root {
  min-height: 100%;
}

body {
  margin: 0;
  font-family: 'Montserrat', sans-serif;
  background-color: #f9f9f9;
}